<nz-layout class="app-layout">
  <nz-header class="menu-header">
    <div class="header-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>PIENSA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item *ngFor="let item of menuItems">
        <a [routerLink]="item.path">
          <i nz-icon [nzType]="item.icon" class="icon-spacing"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>