:host {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura que los elementos internos comiencen desde la izquierda */
}

.header-logo img {
  order: 2; /* Coloca el logo después del título */
  height: 32px;
  width: 32px;
  margin-left: 12px; /* Espacio entre el logo y el título */
}

.header-logo h1 {
  order: 1; /* Coloca el título antes del logo */
  margin: 0; /* Elimina el margen específico para ajustar el título junto al logo */
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.header-menu {
  display: flex;
  margin-left: auto;
}

nz-content {
  flex: 1;
  margin: 24px;
  overflow-y: auto;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 96px);
}